

:root {
  --viña: #48795A;
  --light-viña: #C4E1CF;
  --tinto: #8D0808;
  --bone: #EEEBDD;
  --light-tinto:#A84439;

}

* {  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
}


/*logo*/

.logo{
  height: 120px;
  width: 120px;
  margin-left: -35px ;

}

/* Fuente utilizada */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #48795A ;
  height: 70px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  
}


.navbar a {
  color: var(--light-viña);
  text-decoration: none;
  font-size: 0.6rem;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px;
}



a.navlink:hover{
  background-color: var(--light-tinto);
  border-radius: 10px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/* estilos header  */

.header {
  height: 100px;
  width: 100%;
  background-color: var(--light-viña);
  color: var(--tinto);
  margin: 0;
  padding-left: 30px;
  display: flex;
  align-items:center;
  justify-content:space-evenly;
}

.textosheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  
}


.textosheader p{
  font-size:0.6rem ;
  color: var(--tinto);
  margin-left: -15px;
}



.active {
  background-color: var(--tinto);
  border-radius: 10px;  
}

.contentwrap {
 
  padding-bottom: 75px; 
}

/* estilos home*/

.texthome h1 {
color: var(--tinto);
}

.texthome p{
  color:darkgrey;
  font-size: 0.8rem;
}

.imagehome{
  height: 50%;
  width: 100%;
  border-radius: 10px;
  
}

/* estilos para el footer*/

.footer {
  background-color: var(--viña);
  color: var(--light-viña);
  height: 45px;
  width:100%;
  position:fixed;
  bottom:0px;
 
    
}

.footer p{
  font-size: 0.6rem;
  
}

/* estilos en el login*/

.loginpage {
  display: flex;
  justify-content: center;
}

.loginform{
  background-color: var(--diveboxbg);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.labelform {
font-size: 0.6rem;
color: var(--tinto);
}

.loginform h3 {
  color: var(--viña);
  font-size: 0.8rem;
  margin-top: 0px;
}

.loginform > form div {
  
  margin-top: 15px;
  margin-left: 10px;
}

.loginform input {

  display:block;
  background: none;
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: var(--light-tinto);
  font-size: 10px;
  width: 100%;
}

.loginform button,
.newaccount button {
  width: 80px;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 0.5rem;
  background-color: var(--light-viña);
  color: var(--viña);
  cursor: pointer;
}

.loginform button:hover{
  background-color: var(--divelightgreen);
} 


.newaccount button:hover {
  background-color: var(--divelightgreen);
} 


/* estilos DenominationsPage  */

.denominations h1{
  color: var(--tinto);
  
  
}

.divImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.imageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 70%;
  
  
}

.imageDO {
  height: 30vh;
  width: 35vh;
  margin: 1.5rem;
  margin-left:3rem;
  border-radius: 30%; 

}

.imageText h2{
  color: var(--tinto);
  font-size:small;
  font-weight: bold;
}

.imageText p{
  margin-left: 0.8rem;
  font-size: 0.5rem;
  color: darkgrey;

  
}

.heading .buscadorBodegas {

  color: var(--viña);
  
  font-size: 0.8rem;
  text-decoration: none;
 
 }

 .heading button{
  color: var(--tinto);
  background: transparent;
  border-radius: 6px;
  text-transform: uppercase;
  font-size:0.8rem;
 }

 .heading button:hover{
  background-color:var(--viña);
      color: var(--bone);
} 


 @media only screen and (min-width: 768px){
   .navbar {
     display:flex;

   }
   .dropdown {
     display:none;
   }
 }





/*Media query para desktop*/

/* @media only screen and (min-width: 1024px) {

  .header {
    height: 100px;
    background-color: var(--ligth-viña);
    color: var(--tinto);
    margin: 0;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .active {
    background-color: var(--tinto);
    border-radius: 10px;  
  }
  
  .contentwrap {
   
    padding-bottom: 75px; 
  }

} */