

:root {
  --viña: #48795A;
  --light-viña: #C4E1CF;
  --tinto: #8D0808;
  --bone: #EEEBDD;
  --light-tinto:#A84439;
  --viña2:#2d4937;

}

* {  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
}


/*logo*/

.logo{
  height: 120px;
  width: 120px;
  margin-left: 10px ;

}

/* Fuente utilizada */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  
  background-color: #48795A ;
  height: 70px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content:left;
  padding-left: 10px;
  padding-right: 10px;
  top: 0;
  position: fixed;
  z-index: 5;
  
}

div .navlinks{
  display:flex;
  flex-direction: column;
  position:absolute;
  top: 40px;
  right:-200%;
  
  /* width: 100%; */
  background-color: var(--light-tinto);
  opacity:var(--tinto) ;
  border-top: 2px solid var(--viña);
  
}

.navbar a {
  color: var(--light-viña);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
  padding: 2px;
}


a.navlink:hover{
  border-bottom: none;
  color: var(--viña);
  
 
}

.MobileNavigation {
  display: flex;
  align-items: center;
  color: var(--bone);
  cursor: pointer;
  position: absolute;
  right: 5%;
  z-index: 4;
 
  
}

.active {
  background-color: var(--tinto);
  border-radius: 10px;  
}


.navigation {
  display:none;
}



/*-------- estilos home-----------*/



.texthome h1 {
color: var(--tinto);
margin-top: 50px;
}

.texthome p{
  color:darkgrey;
  font-size: 0.8rem;
}

.imagehome{
  height: 50%;
  width: 100%;
  border-radius: 10px;
  
}

.container1 {
  display: flex;
  flex-direction: column;
  background-color: var(--light-tinto);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin: 10px;
  

}

.containerText1 {
  display: flex;
  flex-direction: column;
}

.containerText1 h2 {
  
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}

.containerText1 p {
  display: flex;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.container1 img{
  display: flex;
  margin-left: 25px;
  height: 50%;
  width: 80%;
  border-radius: 10px;
  
 
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: var(--light-viña);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin: 10px;
  
}

.containerText2{
  display: flex;
  flex-direction: column;
}

.containerText2 h2 {

  font-size: 15px;
  text-align:right;
  margin-right: 20px;
  
}

.containerText2 p {
  display: flex;
  text-align:right;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
}

.container2 img{
  display: flex;
  margin-left: 25px;
  height: 50%;
  width: 80%;
  border-radius: 10px
}
.container3 {
  display: flex;
  flex-direction: column;
  background-color: var(--light-tinto);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  margin: 10px;
  
  

}

.containerText3 {
  display: flex;
  flex-direction: column;
}

.containerText3 h2 {
  
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}

.containerText3 p {
  display: flex;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 10px;
}

.container3 img{
  display: flex;
  margin-left: 25px;
  height: 50%;
  width: 80%;
  border-radius: 10px;
  
 
}



/*--------- estilos para el footer---------*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--viña);
  color: var(--light-viña);
  height: 25%;
  width:100%;
  /* position:fixed; */
  bottom:0px;
  padding: 1rem 0 1rem 0;
  background-position: center center;
  background-size: cover;
  min-height:10vh;
     
}

.footer p{
  font-size: 0.5rem;
  
}

.footer a{
  color: white;
  text-decoration: none;
  font-size: 0.5rem;
}
.elementFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
 
}


/*-------- estilos en el login------------*/

 .loginpage {
  display: flex;
  justify-content: center;
  background-image: url("./assets/loginimage.jpg");
  background-size: cover;
  background-position: center; 
  width: 100%;
  min-height: 100%;
  padding: 10px;
  margin-top: 50px;

  
 } 

 .cardImage {
  background-image: url('./assets/loginimage.jpg');
  background-position: center;
  background-size: cover;
  height: 10rem;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  position:static;

 }

  .loginform{
  background-color:var(--bone);
  border-radius: 2px 2px 5px 5px;;
  padding:10px 20px 20px 20px ;
  margin: 10px;
  margin-top: 25px; 
  box-shadow:0 0 10px 5px;
 }

.labelform {
font-size: 0.6rem;
color: var(--tinto);

} 

.loginform h3 {
  color: var(--viña2);
  font-size: 0.8rem;
  margin-top: 15px;
} 

.loginform > form div {
  
  margin-top: 15px;
  margin-left: 10px;
} 
 
.loginform input {

  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 10px;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color:var(--viña2);

} 

 .newaccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: var(--black);
  color: white;
  border-radius: 10px;
  height: 50px;

} 

.loginform button,
.newaccount button {
  width: 80px;
  height: 25px;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 0.5rem;
  background-color: var(--viña);
  color: var(--bone);
  cursor: pointer;
  
} 

 .newaccount button {
  margin-left: -10px;
} 

.loginform button:hover{
  background-color: var(--light-viña);
  color: var(--viña);
}  

.newaccount button:hover {
  background-color: var(--light-viña);
  color: var(--viña);
}   



/*--------- estilos DenominationsPage-----------*/

.denominations {
  width: 100%;
}

.denominations h1{
  color: var(--tinto);
  margin-top: 100px;
  text-align: center;
    
}

.containerDo1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
.containerDo2 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.containerDo3 {
  display: flex;
  flex-direction:column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}
.containerDo4 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.divImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

 .imageText { 
  background-color: var(--light-viña);
  width: 100%;
  height: 25rem; 
  margin:20px;
  border-radius: 5px;
    
}

.imageDO1 {
  background: url('https://static3.larioja.com/lomejordelvinoderioja/multimedia/201907/30/media/cortadas/unnamed-ksNF-U80876854257LTF-1248x770@La%20Rioja.jpg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO1:hover {
  background:url('./img/Rioja.png') no-repeat;
  background-size: cover;
  background-position: center; 
 
}
.imageDO2 {
  background: url('https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2017/09/18/15057240818716.jpg') no-repeat;
  height:40%;
  width:80%;
  margin: auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO2:hover {
  background:url('./img/Ribera\ del\ duero.png') no-repeat;
  background-size: cover;
  background-position: center; 
}
.imageDO3 {
  background: url('https://images.rimontgowineries.com/img/slider/dos/45/98f7e96562de56ad4f38d4d89991e1b7.jpg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO3:hover {
  background:url('./img/Yecla.JPG') no-repeat;
  background-size: cover;
  background-position: center; 
}

.imageDO4 {
  background: url('https://nuevecuatrouno.com/wp-content/uploads/2019/11/enoturismo-aldeanueva-ebro.jpeg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO4:hover {
  background:url('./img/Toro.JPG') no-repeat;
  background-size: cover;
  background-position: center; 
}

.imageDO5 {
  background: url('https://www.asajacr.com/wp-content/uploads/2019/06/purple-grapes-553464_1280.jpg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO5:hover {
  background:url('./img/Valdepeñas.JPG') no-repeat;
  background-size: cover;
  background-position: center; 
}

.imageDO6 {
  background: url('https://vinosdo.wine/assets/uploads/2018/04/ribera-guadiana-1.jpg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO6:hover {
  background:url('./img/Ribera\ del\ Guadiana.JPG') no-repeat;
  background-size: cover;
  background-position: center; 
}
.imageDO7 {
  background: url('https://static2.diariosur.es/www/multimedia/202106/18/media/cortadas/1-k20D-U140754340573k6B-1968x1216@Diario%20Sur.jpg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO7:hover {
  background:url('./img/Sierra\ de\ Málaga.JPG') no-repeat;
  background-size: cover;
  background-position: center; 
}
.imageDO8 {
  background: url('https://www.turismoarlanza.es/es/wp-content/uploads/2021/09/2021-09-21-19.26.50.jpg') no-repeat;
  height:40%;
  width:80%;
  margin:auto;
  margin-top: 10px;
  border-radius: 20%; 
  background-size: cover;
  background-position: center; 
  
}

.imageDO8:hover {
  background:url('./img/Arlanza.png') no-repeat;
  background-size: cover;
  background-position: center; 
}

.imageText h2{
  color: var(--tinto);
  font-size:small;
  font-weight: bold;
}

.imageText p{
  margin:auto;
  font-size: 9px;
  color:var(--viña2);
  width: 60%;

  
}


.heading .buscadorBodegas {

  color: var(--viña);
  
  font-size: 0.8rem;
  text-decoration: none;
 
 }

 .heading button{
 
  width: 90px;
  height: 40px;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 0.5rem;
  background-color: var(--viña);
  color: var(--bone);
  cursor: pointer;
  margin-bottom: 30px; 
  margin-top: 20px;
 }

 .heading button:hover{
  background-color: var(--light-viña);
  color: var(--viña);
  font-size:0.9rem;
} 


/*-------------estilos WineriesPage-----------*/

.BrowserCardStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin-top: 50px;
}

.gridWineries {

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-columns: auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;


}

.winerie {

  height: 18rem;
  width: 13rem;
  background-color: whitesmoke;
  border-radius: 1.5rem;
  box-shadow: 0 0.20rem 0.20rem 0 gray;
  transition: 0.2s ease-in;
  padding: 1rem;
  margin-top: 20px;

}

.winerie h2{
  font-size: 0.8rem;
  color: var(--viña2);
  
}
.winerie h3{
  font-size: 0.6rem;
  margin: 2px;
  color: var(--viña);
}
.winerie p{
  font-size: 0.5rem;
  margin: 2px;
  color: var(--viña);
}
.winerie span{
  font-size: 0.5rem;
  margin-bottom: 10px;
  color: var(--viña);
}

.winerie img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
}

.winerie button {
  height: 40px;
  width: 80px;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 0.6rem;
  background-color: var(--light-viña);
  color: var(--viña);
  cursor: pointer;
  margin-top: 10px;
}

.winerie button:hover{
  background-color:var(--viña);
  color: var(--bone);
} 

/*----------Estilos BookingPage----------*/


/* .bookings{
  display: flex;
  flex-direction: column;
  
} */
.bookings form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: fit-content;
  margin: auto;
  background-color: var(--light-viña);
  color: var(--black);
  padding: 10px;
  border-radius: 10px;
  padding: 10px; 
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
}

.bookings label{
  font-size: 0.6rem;
}

.bookings form input {
  width: 30vw;
  height: 2rem;
  font-size:0.6rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.bookings form textarea {
  width: 60vw;
  height: 6rem;
  font-size:0.6rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.bookings button {
 
  height: 40px;
  width: 80px;
  border: solid 1px grey;
  border-radius: 5px;
  font-size: 0.6rem;
  background-color: var(--light-viña);
  color: var(--viña2);
  cursor: pointer;
  margin-top: 10px;
}

.bookings button:hover {
  background-color: var(--viña);
}


/* WinerieCrud y AdminPage: */

.winerieCrud {
  border: 3px solid var(--black);
  margin: 20px;
  padding-bottom: 1rem;
}

.winerieCrud h2 {
  font-size: 1.3rem;
}

.buttonViña {
  background-color: rgb(81, 136, 81);
  color: white;
  border: solid 1px rgb(81, 136, 81);
  border-radius: 5px;
  width: 500px;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}

.buttonViña:hover {
  background-color: rgb(61, 117, 61);
}

.crudButtons .buttonViña {
  background-color:var(--viña);
  color: white;
  border: solid 1px rgb(30, 168, 223);
  margin: 0 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.buttonViña:hover {
  background-color: var(--viña2);
}

.crudButtons .buttonTinto {
  background-color: var(--tinto);
  color: white;
  border: solid 1px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.buttonTinto:hover {
  background-color: var(--light-tinto);
}

.post h3 {
  font-size: 1.4rem;
  text-decoration: underline;
  font-weight: bold;
  color: var(--dark-brown);
}

.post form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: fit-content;
  margin: auto;
  background-color: var(--makeup);
  color: var(--black);
  padding: 10px;
  border-radius: 10px;
  padding: 10px;
}

.post form input {
  width: 80vw;
  height: 2rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.post form textarea {
  width: 80vw;
  height: 6rem;
  margin-block: 1rem;
  border-radius: 5px;
}

.post button {
  margin-top: 1rem;
  background-color: var(--viña);
  border-radius: 5px;
  color: var(--light-viña);
  font-size: 1.2rem;
}

.post button:hover {
  background-color: var(--viña2);
}

.post .routeTitle {
  border: 1px solid black;
  font-size: larger;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.post .select {
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
}



/*Media query para desktop*/

@media only screen and (min-width: 1024px) {


.MobileNavigation {
  display: none;
}

.navigation {
  display:flex;
}


.navbar {
  display:flex;
  justify-content: center ;
}

div .navlinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  position:unset;
  background-color: var(--viña)
}

div .navlinks a {
  font-weight: bold;
  font-size: 1rem;
}
a.navlink:hover{
  border-bottom:var(--light-tinto);
  color: var(--light-tinto);
 
}

.active {
  background-color: var(--viña2);
  border-radius: 10px;  
}
  
  
  
  /*logo*/

.logo{
  height: 110px;
  width: 110px;
  margin-left: -240px ;

}

  .contentwrap {
   
    padding-bottom: 75px; 
  }


  /*-------- estilos home-----------*/



.texthome{
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.texthome h1 {
  color: var(--tinto);
  margin-top: 50px;
  font-size:x-large;
  }
  
  .texthome p{
    color: var(--viña2);
    font-size: 0.8rem;
    text-align:center;
    width: 60%;
    margin-left: 180px ;
  
  }
  
  
  .container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: var(--light-tinto);
    margin-right: auto;
    border-radius: 5px;
    
  }

  .containerText1{
    display:flex;
    flex-direction: column;
    width: 80%;
  }
  
  
  .containerText1 h2 {
    
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
  }
  
  .containerText1 p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
    
  }
  
  .container1 img{
    display: flex;
    height: 50%;
    width: 90%;
    border-radius: 10px;
    
   
  }
  
  .container2 {
    display: flex;
    flex-direction:row-reverse;
    background-color: var(--light-viña);
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin: 10px;
    margin-left: auto;
    
  }
  
  .containerText2{
    display:flex;
    flex-direction: column;
    width: 80%;
  }
  
  
  .containerText2 h2 {
  
    font-size: 15px;
    text-align:right;
    margin-right: 20px;
    
  }
  
  .containerText2 p {
   
    margin-right: 10px;
    margin-left: 10px;
    font-size: 10px;
  }
  
  .container2 img{
    display: flex;
    margin-right: 25px;
    height: 50%;
    width: 80%;
    border-radius: 10px
  }
  .container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: var(--light-tinto);
    margin-right: auto;
    border-radius: 5px;
    
    
  }

  .containerText3{
    display:flex;
    flex-direction: column;
    width: 80%;
  }
  
  .containerText3 {
    display: flex;
    flex-direction: column;
  }
  
  .containerText3 h2 {
    
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
  }
  
  .containerText3 p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }
  
  .container3 img{
    display: flex;
    margin-left: 25px;
    height: 50%;
    width: 80%;
    border-radius: 10px;
    
   
  }
  
  
  
  /*--------- estilos para el footer---------*/
  
  .footer {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: var(--viña);
    color: var(--light-viña);
    height: 15%;
    width:100%;
    bottom:0px;
    min-height:10vh;
   
      
  }
  
  
  .footer p{
    
    margin-right: 25px;
    font-size: 10px;
  
    
  }
  
  .footer a{
    color: white;
    text-decoration: none;
    font-size: 0.5rem;
  }
  .elementFooter {
    align-items:center;
    margin-left: 25px;
    top:0;

    
  } 
  
  
  
  /*-------- estilos en el login------------*/
  
  .loginpage {
    display: flex;
    justify-content: center;
    background-image: url("./assets/loginimage.jpg");
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 500px;
    min-height: 100%;
    padding: 10px;
    margin-top: 50px;
    /* opacity: 60%; */
    
  
  }
  
  .loginform{
    background-color:var(--bone);
    border-radius: 2px 2px 5px 5px;;
    padding:10px 20px 20px 20px ;
    /* position: absolute; */
    margin: 10px;
    margin-top: 25px;
  }
  .labelform {
  font-size: 0.6rem;
  color: var(--tinto);
  
  }
  
  .loginform h3 {
    color: var(--viña2);
    font-size: 0.8rem;
    margin-top: 0px;
  }
  
  .loginform > form div {
    
    margin-top: 15px;
    margin-left: 10px;
  }
  
  .loginform input {
  
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 10px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color:var(--viña2);
  
  }
  
  .newaccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: var(--black);
    color: white;
    border-radius: 10px;
    height: 50px;
  
  }
  
  .loginform button,
  .newaccount button {
    width: 80px;
    height: 25px;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 0.5rem;
    background-color: var(--viña);
    color: var(--bone);
    cursor: pointer;
    
  }
  
  .newaccount button {
    margin-left: -10px;
  }
  
  .loginform button:hover{
    background-color: var(--light-viña);
    color: var(--viña);
  } 
  
  
  .newaccount button:hover {
    background-color: var(--light-viña);
    color: var(--viña);
  } 
  
  
  /*--------- estilos DenominationsPage-----------*/
  
  .denominations {
    width: 100%;
  }
  
  .denominations h1{
    color: var(--tinto);
    margin-top: 100px;
    text-align: center;
      
  }

  .containerDo1 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  
  }
  .containerDo2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .containerDo3 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  
  }
  .containerDo4 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  
  }
  
  .divImages {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

  }
  
   .imageText { 
    background-color: var(--light-viña);
    width: 80%;
    height: 25rem; 
    margin:20px;
    border-radius: 5px;
      
  }
  
  .imageDO1 {
    background: url('https://static3.larioja.com/lomejordelvinoderioja/multimedia/201907/30/media/cortadas/unnamed-ksNF-U80876854257LTF-1248x770@La%20Rioja.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO1:hover {
    background:url('./img/Rioja.png') no-repeat;
    background-size: cover;
    background-position: center; 
  }

  .imageDO2 {
    background: url('https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2017/09/18/15057240818716.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO2:hover {
    background:url('./img/Ribera\ del\ duero.png') no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .imageDO3 {
    background: url('https://images.rimontgowineries.com/img/slider/dos/45/98f7e96562de56ad4f38d4d89991e1b7.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO3:hover {
    background:url('./img/Yecla.JPG') no-repeat;
    background-size: cover;
    background-position: center; 
  }

  .imageDO4 {
    background: url('https://nuevecuatrouno.com/wp-content/uploads/2019/11/enoturismo-aldeanueva-ebro.jpeg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO4:hover {
    background:url('./img/Toro.JPG') no-repeat;
    background-size: cover;
    background-position: center; 
  }
  
  .imageDO5 {
    background: url('https://www.asajacr.com/wp-content/uploads/2019/06/purple-grapes-553464_1280.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO5:hover {
    background:url('./img/Valdepeñas.JPG') no-repeat;
    background-size: cover;
    background-position: center; 
  }

  .imageDO6 {
    background: url('https://vinosdo.wine/assets/uploads/2018/04/ribera-guadiana-1.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO6:hover {
    background:url('./img/Ribera\ del\ Guadiana.JPG') no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .imageDO7 {
    background: url('https://static2.diariosur.es/www/multimedia/202106/18/media/cortadas/1-k20D-U140754340573k6B-1968x1216@Diario%20Sur.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO7:hover {
    background:url('./img/Sierra\ de\ Málaga.JPG') no-repeat;
    background-size: cover;
    background-position: center; 
  }
  .imageDO8 {
    background: url('https://www.turismoarlanza.es/es/wp-content/uploads/2021/09/2021-09-21-19.26.50.jpg') no-repeat;
    height: 50vh;
    width: 60vh;
    margin:auto;
    margin-top: 20px;
    border-radius: 20%; 
    background-size: cover;
    background-position: center; 
    
  }

  .imageDO8:hover {
    background:url('./img/Arlanza.png') no-repeat;
    background-size: cover;
    background-position: center; 
  }
  
  .imageText h2{
    color: var(--tinto);
    font-size:small;
    font-weight: bold;
  }
  
  .imageText p{
    margin:auto;
    font-size: 8px;
    color:var(--viña2);
    width: 60%;
  
    
  }
  
  /* .heading .buscadorBodegas {
  } */
  
   .heading button{
   
    width: 90px;
    height: 40px;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: var(--viña);
    color: var(--bone);
    cursor: pointer;
    margin-bottom: 20px; 
   
    
   }
  
   .heading button:hover{
    background-color: var(--light-viña);
    color: var(--viña);
    font-size:0.9rem;
  } 
  
  
  /*-------------estilos WineriesPage-----------*/
  
  
  .gridWineries {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;


  }
   
  .winerie {
    height: 19rem;
    width: 13rem;
    background-color: whitesmoke;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 gray;
    transition: 0.2s ease-in;
    padding: 1rem;
    margin-top: 20px;
  
  }
  
  .winerie h2{
    font-size: 0.8rem;
    color: var(--viña2);
    
  }
  .winerie h3{
    font-size: 0.6rem;
    margin: 2px;
  }
  .winerie p{
    font-size: 0.5rem;
    margin: 2px;
  }
  .winerie span{
    font-size: 0.5rem;
    margin-bottom: 10px;
  }
  
  .winerie img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
  
  .winerie button {
    height: 40px;
    width: 80px;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 0.6rem;
    background-color: var(--light-viña);
    color: var(--viña);
    cursor: pointer;
    margin-top: 10px;
  }
  
  .winerie button:hover{
    background-color:var(--viña);
    color: var(--bone);
  } 
  
  /*----------Estilos BookingPage----------*/
  
  
  /* .bookings{
    display: flex;
    flex-direction: column;
    
  } */
  .bookings form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: fit-content;
    margin: auto;
    background-color: var(--light-viña);
    color: var(--black);
    padding: 10px;
    border-radius: 10px;
    padding: 10px; 
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
  }
  
  .bookings label{
    font-size: 0.6rem;
  }
  
  .bookings form input {
    width: 30vw;
    height: 2rem;
    font-size:0.6rem;
    margin-block: 1rem;
    border-radius: 5px;
  }
  
  .bookings form textarea {
    width: 60vw;
    height: 6rem;
    font-size:0.6rem;
    margin-block: 1rem;
    border-radius: 5px;
  }
  
  .bookings button {
   
    height: 40px;
    width: 80px;
    border: solid 1px grey;
    border-radius: 5px;
    font-size: 0.6rem;
    background-color: var(--light-viña);
    color: var(--viña2);
    cursor: pointer;
    margin-top: 10px;
  }
  
  .bookings button:hover {
    background-color: var(--viña);
  }













}